.CreatePet {
  text-align: center;
}

.CreatePet-logo {
  height: 40vmin;
}

.CreatePet-header {
  background-color: lavender;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.CreatePet-link {
  color: #09d3ac;
}

.CreatePet-button {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: blue;
  border-color: blue;
  display: flex 2;
}

.CreatePet-text {
  font-size: 50px;
}